################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ParsingEngine/bin/
/ParsingEngine/obj/
/Visiboole/bin/
/Visiboole/obj/
/VisibooleTests/bin/
/VisibooleTests/obj/
/Visiboole/.vs/VisiBoole/v15
