<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_005{font-family:Arial,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="56e0729e-6611-11e9-9d71-0cc47a792c0a_id_56e0729e-6611-11e9-9d71-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="56e0729e-6611-11e9-9d71-0cc47a792c0a_id_56e0729e-6611-11e9-9d71-0cc47a792c0a_files/background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:72.00px;top:71.25px" class="cls_002"><span class="cls_002">VisiBoole Help:</span></div>
<div style="position:absolute;left:108.00px;top:104.25px" class="cls_002"><span class="cls_002">Following is an introduction on how to use VisiBoole’s features. This document is</span></div>
<div style="position:absolute;left:108.00px;top:120.75px" class="cls_002"><span class="cls_002">purely instructional: it contains screenshots and descriptions of the user interface</span></div>
<div style="position:absolute;left:108.00px;top:137.25px" class="cls_002"><span class="cls_002">and a walkthrough of VisiBoole. The full description on how to use the</span></div>
<div style="position:absolute;left:108.00px;top:153.75px" class="cls_002"><span class="cls_002">programming language itself is available in the menu under </span><span class="cls_003">Help -> VisiBoole</span></div>
<div style="position:absolute;left:108.00px;top:170.25px" class="cls_003"><span class="cls_003">Syntax</span></div>
<div style="position:absolute;left:72.00px;top:203.00px" class="cls_005"><span class="cls_005">Menu and Toolbar:</span></div>
<div style="position:absolute;left:72.00px;top:274.50px" class="cls_002"><span class="cls_002">The menus contain the following commands and their shortcuts:</span></div>
<div style="position:absolute;left:90.00px;top:288.75px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:288.75px" class="cls_002"><span class="cls_002">File</span></div>
<div style="position:absolute;left:126.00px;top:303.00px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:303.00px" class="cls_002"><span class="cls_002">New (Ctrl + N)</span></div>
<div style="position:absolute;left:126.00px;top:317.25px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:317.25px" class="cls_002"><span class="cls_002">Open (Ctrl + O)</span></div>
<div style="position:absolute;left:126.00px;top:331.50px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:331.50px" class="cls_002"><span class="cls_002">Save (Ctrl + S)</span></div>
<div style="position:absolute;left:126.00px;top:345.75px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:345.75px" class="cls_002"><span class="cls_002">Save As</span></div>
<div style="position:absolute;left:126.00px;top:360.00px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:360.00px" class="cls_002"><span class="cls_002">Close</span></div>
<div style="position:absolute;left:126.00px;top:374.25px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:374.25px" class="cls_002"><span class="cls_002">Close All</span></div>
<div style="position:absolute;left:126.00px;top:388.50px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:388.50px" class="cls_002"><span class="cls_002">Exit</span></div>
<div style="position:absolute;left:90.00px;top:402.75px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:402.75px" class="cls_002"><span class="cls_002">Edit</span></div>
<div style="position:absolute;left:126.00px;top:417.00px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:417.00px" class="cls_002"><span class="cls_002">Undo (Ctrl + Z)</span></div>
<div style="position:absolute;left:126.00px;top:431.25px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:431.25px" class="cls_002"><span class="cls_002">Redo (Ctrl + Y)</span></div>
<div style="position:absolute;left:126.00px;top:445.50px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:445.50px" class="cls_002"><span class="cls_002">Cut (Ctrl + X)</span></div>
<div style="position:absolute;left:126.00px;top:459.75px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:459.75px" class="cls_002"><span class="cls_002">Copy (Ctrl + C)</span></div>
<div style="position:absolute;left:126.00px;top:474.00px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:474.00px" class="cls_002"><span class="cls_002">Paste (Ctrl + P)</span></div>
<div style="position:absolute;left:126.00px;top:488.25px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:488.25px" class="cls_002"><span class="cls_002">Select All (Ctrl + A)</span></div>
<div style="position:absolute;left:90.00px;top:502.50px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:502.50px" class="cls_002"><span class="cls_002">View</span></div>
<div style="position:absolute;left:126.00px;top:516.75px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:516.75px" class="cls_002"><span class="cls_002">Increase Font Size (Ctrl & +)</span></div>
<div style="position:absolute;left:126.00px;top:531.00px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:531.00px" class="cls_002"><span class="cls_002">Decrease Font Size (Ctrl & -)</span></div>
<div style="position:absolute;left:126.00px;top:545.25px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:545.25px" class="cls_002"><span class="cls_002">Light Theme</span></div>
<div style="position:absolute;left:126.00px;top:559.50px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:559.50px" class="cls_002"><span class="cls_002">Dark Theme</span></div>
<div style="position:absolute;left:126.00px;top:573.75px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:573.75px" class="cls_002"><span class="cls_002">Toggle Colorblind Mode</span></div>
<div style="position:absolute;left:126.00px;top:588.00px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:588.00px" class="cls_002"><span class="cls_002">Toggle Runtime Comments</span></div>
<div style="position:absolute;left:90.00px;top:602.25px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:602.25px" class="cls_002"><span class="cls_002">Help</span></div>
<div style="position:absolute;left:126.00px;top:616.50px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:616.50px" class="cls_002"><span class="cls_002">VisiBoole Syntax</span></div>
<div style="position:absolute;left:126.00px;top:630.75px" class="cls_002"><span class="cls_002">○</span></div>
<div style="position:absolute;left:144.00px;top:630.75px" class="cls_002"><span class="cls_002">VisiBoole Help [This document]</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="56e0729e-6611-11e9-9d71-0cc47a792c0a_id_56e0729e-6611-11e9-9d71-0cc47a792c0a_files/background2.jpg" width=612 height=792></div>
<div style="position:absolute;left:72.00px;top:71.25px" class="cls_002"><span class="cls_002">The functions of the Visiboole toolbar icons, from Left to Right:</span></div>
<div style="position:absolute;left:126.00px;top:87.75px" class="cls_002"><span class="cls_002">●  Create New File (Ctrl + N)</span></div>
<div style="position:absolute;left:126.00px;top:104.25px" class="cls_002"><span class="cls_002">●  Open File (Ctrl + O)</span></div>
<div style="position:absolute;left:126.00px;top:120.75px" class="cls_002"><span class="cls_002">●  Save Current File (Ctrl + S)</span></div>
<div style="position:absolute;left:126.00px;top:137.25px" class="cls_002"><span class="cls_002">●  Save All (Ctrl + Shift + S)</span></div>
<div style="position:absolute;left:126.00px;top:153.75px" class="cls_002"><span class="cls_002">●  Undo (Ctrl + Z)</span></div>
<div style="position:absolute;left:126.00px;top:170.25px" class="cls_002"><span class="cls_002">●  Redo (Ctrl + Y)</span></div>
<div style="position:absolute;left:126.00px;top:186.75px" class="cls_002"><span class="cls_002">●  Run (Ctrl + R)</span></div>
<div style="position:absolute;left:126.00px;top:203.25px" class="cls_002"><span class="cls_002">●  Edit (Ctrl + E)</span></div>
<div style="position:absolute;left:72.00px;top:317.75px" class="cls_005"><span class="cls_005">Designs:</span></div>
<div style="position:absolute;left:108.00px;top:339.75px" class="cls_002"><span class="cls_002">The  leftmost section under the</span></div>
<div style="position:absolute;left:72.00px;top:356.25px" class="cls_002"><span class="cls_002">heading ‘Designs:’ is the file browser of</span></div>
<div style="position:absolute;left:72.00px;top:372.75px" class="cls_002"><span class="cls_002">VisiBoole. All open files are listed here,</span></div>
<div style="position:absolute;left:72.00px;top:389.25px" class="cls_002"><span class="cls_002">and while in Edit mode double clicking</span></div>
<div style="position:absolute;left:72.00px;top:405.75px" class="cls_002"><span class="cls_002">on a design name will open that file.</span></div>
<div style="position:absolute;left:72.00px;top:422.25px" class="cls_002"><span class="cls_002">Particularly useful if many files are open</span></div>
<div style="position:absolute;left:72.00px;top:438.75px" class="cls_002"><span class="cls_002">at once.</span></div>
<div style="position:absolute;left:72.00px;top:564.50px" class="cls_005"><span class="cls_005">Main Window:</span></div>
<div style="position:absolute;left:108.00px;top:590.25px" class="cls_002"><span class="cls_002">When VisiBoole first opens the main window contains only a prompt to open a</span></div>
<div style="position:absolute;left:72.00px;top:608.25px" class="cls_002"><span class="cls_002">file. Once a file is opened or created the window is filled with the text editor and the</span></div>
<div style="position:absolute;left:72.00px;top:624.75px" class="cls_002"><span class="cls_002">program will be in Edit mode. Closing all files in the editor returns VisiBoole to this</span></div>
<div style="position:absolute;left:72.00px;top:641.25px" class="cls_002"><span class="cls_002">starting screen.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:1604px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="56e0729e-6611-11e9-9d71-0cc47a792c0a_id_56e0729e-6611-11e9-9d71-0cc47a792c0a_files/background3.jpg" width=612 height=792></div>
<div style="position:absolute;left:72.00px;top:71.00px" class="cls_005"><span class="cls_005">Edit Mode:</span></div>
<div style="position:absolute;left:108.00px;top:109.50px" class="cls_002"><span class="cls_002">Code is typed in text editor, much like the standard notepad application available</span></div>
<div style="position:absolute;left:72.00px;top:126.00px" class="cls_002"><span class="cls_002">on most computers. The name of the file is shown on the Designs tree on the leftmost</span></div>
<div style="position:absolute;left:72.00px;top:142.50px" class="cls_002"><span class="cls_002">part of the window and on the tab of the text editor.</span></div>
<div style="position:absolute;left:72.00px;top:472.50px" class="cls_002"><span class="cls_002">The text editor is tab-based: Multiple files can</span></div>
<div style="position:absolute;left:72.00px;top:489.00px" class="cls_002"><span class="cls_002">be open simultaneously, each can be closed</span></div>
<div style="position:absolute;left:72.00px;top:505.50px" class="cls_002"><span class="cls_002">with the red X icon present on each tab, and if</span></div>
<div style="position:absolute;left:72.00px;top:522.00px" class="cls_002"><span class="cls_002">a file has unsaved changes an asterisk (*) is</span></div>
<div style="position:absolute;left:72.00px;top:538.50px" class="cls_002"><span class="cls_002">placed beside the close icon:</span></div>
<div style="position:absolute;left:72.00px;top:588.00px" class="cls_002"><span class="cls_002">While in Edit mode, clicking the Run button or (Ctrl + R) will attempt to run the file:</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:2406px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="56e0729e-6611-11e9-9d71-0cc47a792c0a_id_56e0729e-6611-11e9-9d71-0cc47a792c0a_files/background4.jpg" width=612 height=792></div>
<div style="position:absolute;left:72.00px;top:71.00px" class="cls_005"><span class="cls_005">Run Mode:</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:3208px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="56e0729e-6611-11e9-9d71-0cc47a792c0a_id_56e0729e-6611-11e9-9d71-0cc47a792c0a_files/background5.jpg" width=612 height=792></div>
</div>

</body>
</html>
